@model IEnumerable<WorkSchedule2.Models.Summary>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout_User";
}

<h2>User summary</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Total Hours Worked             
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHoursWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="GeneratePDF" asp-route-id="@item.Id">Generate PDF</a>
            </td>
        </tr>
}
    </tbody>
</table>
